body {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  background-color: black;
}

.titulos {
  background-color:#ef7c1a;
  color: black;
  font-size: 14px;
  text-align: left;
  padding: 1px 20px;
  width:90%;
  box-sizing: border-box;
}

.nota {
  background-color:#ff2e00;
  float: left;
  width:15%;

}

.nota h1 {
  color: black;
  font-size: 40px;
  text-align: center;
}
.reviews{
  color: black;
  background-color: #e58737;
  padding: 5px 0px 37px 80px;
  width: 90%;
  box-sizing: border-box;

}
.reviews p{
  padding: inherit;


}
.toperson img {
  padding: 20px 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:30%;
  height:10%;

}

.fullbody {
  display: block;
  padding-top: 20px;
  margin-left: auto;
  width:90%;
  margin-right: auto;
}


.navegador {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.navegador ul{
  list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #0c0d0f;
}

.navegador li{
  float: left;
}

.navegador li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.navegador li a:hover:not(.selecionado){
   background-color: #f9d5a4;
   color: black;
}

.selecionado {
  background-color: #ef7c1a;
  color: white;

}
