body {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  background-color: black;
}
.comm{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 170px;

}

.titulos {
  background-color:#ef7c1a;
  color: black;
  font-size: 16px;
  text-align: left;
  padding: 1px 20px;
  width: 100%;
  box-sizing: border-box;
}
.conteudo iframe {
  margin: auto;
  position: absolute;
}

.tabelasrev {
  color: black;
  background-color: #e58737;
  width: 100%;
  padding-top: 10px;

}

.tabelasrev table{
  margin-left: auto;
  margin-right: auto;
  border-spacing: 5px;
}

.tabelasrev td{
  padding: 5px;
  text-align: left;
}

.nota {
  background-color:#ff2e00;
  float: left;
  width:15%;
}

.nota h1 {
  color: black;
  font-size: 40px;
  text-align: center;
}
.botaorev{
  color: black;
  background-color: #e58737;
  width: 100%;
  padding: 40px 0px;

}
.botaorev button{
  color: black;
  border: none;
  background-color: #c12828;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0px;
  width: 18%;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  opacity: 0.8;
  font-family: 'Quicksand', sans-serif;
}

.botaorev button:hover{
  opacity: 1.0;

}

.botoesext {
  color: black;
  border: none;
  background-color: #c12828;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0px;
  width: 18%;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  opacity: 0.8;
  font-family: 'Quicksand', sans-serif;
}

.botoesext:hover{
  opacity: 1.0;


}

.reviews {
  color: black;
  background-color: #e58737;
  padding: 8px 8px 8px 80px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.reviews{
  display: none;

}

.reviews p {
  padding: inherit;
}

.reviews h3 {
  padding: inherit;
}

.toperson {
  background-image: url("wpp.jpg");
  padding: 20px 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  height:100%;
}

.fullbody {
  position: relative;
  display: block;
  padding-top: 20px;
  margin-left: auto;
  width:90%;
  margin-right: auto;
}

.navegador {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.navegador ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0c0d0f;
}

.navegador li{
  list-style: none;
  float: left;
  }

.navegador li a{
  text-decoration: none;
  position: relative;
  color: white;
  text-align: center;
  display: block;
  overflow: hidden;
  transition: all 0.5s;
  padding: 15px 20px;
}

.navegador li a:before {
  content: '';
  width: 30px;
  position: absolute;
  border-bottom: 4px solid #ef7c1a;
  bottom: 0;
  right: 350px;
  transition: all 0.5s;
}

.navegador li a:hover:before {
  right:0;
}

.navegador li a:hover:not(.selecionado) {
  background-color: #885522;
}

.selecionado {
  background-color: #ef7c1a;
  color: white;
}

a:link {
    color: orangered;
}

a:visited {
    color: orange;
}

a:hover {
    color: white;
}

a:active {
    color: red;
}
